body {
    background-color: black;
    color: grey;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 18px;
    text-align: center;
    font-size: 25px;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: grey;
}

@media (max-width: 768px) {
    main {
        font-size: 16px;
    }
}
